APP_PORT=4000
POSTGRES_SUPERUSER_PASSWORD=change-me-superuser-password
POSTGRES_DBO_PASSWORD=change-me-dbo-password
POSTGRES_API_PASSWORD=change-me-api-password
POSTGRES_HEALTHCHECK_PASSWORD=change-me-healthcheck-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nevo
POSTGRES_SCHEMA=public